body {
    color: black;
}

.list {
    text-align: left;
}

path {
    stroke: #fff;
 }
path:hover {
    opacity:0.8;
}
rect:hover {
    opacity: 0.8;
}
.axis {
    font: 11px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {  display: none; }
.legend{
    margin-bottom:0px;
    display:inline-block;
    border-collapse: collapse;
    border-spacing: 0px;
}
.legend td{
    padding:0px 5px;
    vertical-align:middle;
}
.legendFreq, .legendPerc{
    align:right;
    width:50px;
}